PUBLIC_API_URL=http://localhost:8080
PUBLIC_DONATION_URL=https://ko-fi.com/...
PUBLIC_GITHUB_URL=https://github.com/...
PUBLIC_DISCORD_URL=https://discord.gg/...
PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA

PUBLIC_UMAMI=0
PUBLIC_UMAMI_SCRIPT_URL=
PUBLIC_UMAMI_WEBSITE_ID=

PUBLIC_JOSU_URL=http://localhost:8081